.toggle input[type='checkbox'] {
    display: none;
}

.toggle {
    display: flex;
    justify-content: center;
    margin: 300px;
}

.toggle label {
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 100px;
    height: 50px;
    content: attr(data-off);
}

.toggle label::after {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 4px;
    transition: all 0.4s ease-in-out;
    width: 42px;
    height: 42px;
    content: attr(data-on);
    animation: myAnim1 1s ease 0s 1 normal forwards;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #ffffff;
    border-color: #ffffff;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #000000;
    border-color: #000000;
    animation: myAnim 1s ease 0s 1 normal forwards;

}

body {
    background-color: #ffffff;
}

body.dark-theme {
    background-color: #000000;
}


@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes myAnim1 {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}